stages:
  - test

cache:
  key: always
  paths:
  - ./.m2


before_script:
  - cp -R ./.m2 $HOME || true


after_script:
  - cp -R $HOME/.m2 .


test:
  image: clojure:tools-deps-alpine
  script:
    - clojure -Atest
    - clojure -Apropertytest
