{:lib com.github.sikt-no/clj-jwt

 :version "0.5.{{git/commit-count}}"

 :github-actions? true

 :scm {:connection "scm:git:git://github.com/sikt-no/clj-jwt.git"
       :developerConnection "scm:git:ssh://git@github.com/sikt-no/clj-jwt.git"
       :url "https://github.com/sikt-no/clj-jwt"}

 :documents [{:file "CHANGELOG.md"
              :match-exactly "## [Unreleased]"
              :action :append-after
              :text "\n## [{{version}}] - {{now/yyyy}}-{{now/mm}}-{{now/dd}}"}
             {:file "README.md"
              :match-exactly "com.github.sikt-no/clj-jwt {:git/tag"
              :action :replace
              :keep-indent? true
              :text "com.github.sikt-no/clj-jwt {:git/tag \"{{version}}\" :git/sha \"{{git/head-short-sha}}\"}"}
             {:file "README.md"
              :match-exactly "com.github.sikt-no/clj-jwt {:mvn/version"
              :action :replace
              :keep-indent? true
              :text "com.github.sikt-no/clj-jwt {:mvn/version \"{{version}}\"}"}]

 :licenses [{:name "Eclipse Public License - v 2.0"
             :url "https://www.eclipse.org/legal/epl-2.0/"}]}
